
.Mainheader {
    background: #ffffff;
    /* background: red; */
    border-color: #cccccc;
    border-BOTTOM: 1px solid #777777;
    /* padding: 0 40px 40px 40px; */
    padding: 100%;
}

/* .customDiv {
    padding: 10px 0 30px 0;
    min-height: 300px;
    background-color: red;
    text-align: center;
    font-size: large;
} */

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 2% 5% 2% 5%;
    margin: 0 !important;
    color: white;
    float: left;
}

/* This is the top right header that contains "About", "Portfolio", and "Contact" links that would direct users to different pages that has the same h1, headerTopRight, and footer information*/
a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 10px;
    text-decoration: none;
}


h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
    padding: 2% 0 2% 0;
}

.bodyDiv { 
    background-image: url("../images/fabric_plaid.png");
    height: 700px;
    border-top: 1px solid #777777;
}

.containerDiv {
    background: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 5% 2% 2% 1%;
    padding: 2% 5% 2% 5%;
    width: 100%;
    text-align: left;
}

/************* 
These are the CSS codes for profile-img class in index.html 
***************/
.profile-img {
    float: left;
    margin: 0 15px 0 0;
    height: 20%;
    width: 20%;
}
/************* END:: These are the CSS codes for profile-img class in index.html ***************/


/************* 
These are the CSS codes for contact.html 
***************/
input[type=text] {
    width: 100%;
}

textarea {
    width: 640px;
    height: 200px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 2px 7px 2px 7px;
}
/************* END:: These are the CSS codes for contact.html ***************/


/************* 
These are the CSS codes for portfolio.html 
***************/
.column{
    float: left;
    width: 100%;
    padding-right: 20px;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.text-block {
    position: relative;
    bottom: 90px;
    /* right: 20px; */
    background-color: #4aaaa5;
    color: white;
    padding: 3px 20px 3px 20px;
    width: 310px;
    text-align: center;
}
/************* END:: These are the CSS codes for portfolio.html ***************/


/* This is the footer of the page */
.footer {
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    color: #cccccc;
    border-top: 4px solid #4aaaa5;
    width: 100%;
    padding: 2%;
    text-align: center;
}